
* {
    font-family: Poppins;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.92;
}


header {
    position: fixed;
    display: flex;
    height: 69px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid seashell;
    opacity: 0.95;
    background-color: black;
    z-index: 1;
    overflow: hidden;
}

header img {
    display: flex;
    padding-left: 10px;
    height: 50px;
    align-self: center;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    flex-shrink: 1;
}

nav a {
    padding: 0 20px;
    flex-shrink: 1;
}

/* Media Query for Responsive Font Sizes */
@media screen and (max-width: 768px) {
    nav a {
        font-size: 14px; /* Reduce font size */
        padding: 6px;
    }
}

@media screen and (max-width: 480px) {
    nav a {
        font-size: 12px; /* Further reduce font size */
        padding: 6px;
    }
}

main {
    position: relative;
    top: 69px;
}

.jumbotron {
    display: flex;
    height: 700px;
    width: 100%;
    background-image: url("./graphics/img-mission-background.webp");
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-self: center;
}

.jumbotron img {
    display: inline-flex;
}

.site-title {
    background-color: black;
    width: 100%;
    opacity: 1;
    align-self: center;
    text-align: center;
}

.site-title h4 {
    font-weight: 300;
}

h2 {
    font-size: 40px;
    padding: 0;
    margin: 3px;
}

h3 {
    margin: 5px;
}

h4 {
    margin: 10px;
}

.tea-month {
    margin: 0 auto;
    max-width: 1000px;
}

.tea-month-title {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.tea-month-title h4 {
    font-weight: 300;
}

.month-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spotlight {
    display: flex;
    max-height: 250px;
    max-width: 300px;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
    justify-content: center;

}

.spotlight img {
    max-height: 200px;
    max-width: 300px;
}

.spotlight h4 {
    text-align: center;
}

.locations-container {
    background-image: url("./graphics/img-locations-background.webp");
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    align-content: center;
    margin-top: 50px;
    overflow: hidden;
    box-sizing: border-box;
}

.location-placement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    max-width: 100%;
}

.location {
    border: 2px solid white;
    width: 300px;
    height: 300px;
    position: relative;
    margin: 40px;
    text-align: center;
    align-content: center;
    opacity: 0.95;
    box-sizing: border-box;
}

.location h4 {
    margin: 20px 0;
}

.location-addr {
    font-weight: 500;
}

.location-title {
    padding-bottom: 20px;
}

.locations-container h2 {
    text-align: center;
    background-color: transparent;
    position: relative;
    top: 30px;
    margin-bottom: 15px;
}

footer {
    position: relative;
    top: 100px;
    margin-left: 20px;

}

.contact-container {
    text-align: center;
    min-height: 200px;

}

.contact-container h5 {
    font-weight: 400;
}

.copyright h5 {
    margin-bottom: 20px;
    font-weight: 400;
}